.claude/*
target/
dbt_packages/
logs/
dashboard_assets/*
.venv/
old/
.env
.vscode/*
.github/*
*.xlsx
*.pyc
__pycache__/
source/*
bug_reports/*
scripts/cache/*
dbt_internal_packages/
*.json
data/pkmn_yellow_legacy.db.tmp/*
data/exports/*
docs/*
data/pkmn_yellow_legacy.db
